<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Samsung PRISM</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toggleButton.css')}}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <br>
    <button class="button u-pull-right" onclick="window.location.href='/devicelist'">Back</button>
    <h1 style="margin-top:10rem ;">List of Services</h1>
    <!-- The above form looks like this -->
    <h5>Device Id: <strong><span id="device_id">{{ device_id }}</span></strong></h5>
    <h5>Device Name: <strong><span id="device_name">{{ device_name }}</span></strong></h5>
    <div class="row">
      <table class="u-full-width">
        <thead>
          <th>
            Service Id
          </th>
          <th>
            Service Name
          </th>
          <th>
            Permission
          </th>
        </thead>
        <tbody>
          {% for sid in services %}
              <tr>
                <td class='ids'>{{ services[sid]['id'] }}</td>
                <td>{{ services[sid]['name']['name'] }}</td>
                <td><label class="switch">
                    {% if services[sid]['a'] %}
                      <input type="checkbox" class='checks' checked>
                    {% else %}
                      <input type="checkbox" class='checks'>
                    {% endif %}
                    <span class="slider round"></span>
                  </label></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <button id='submit_button' class="button-primary" value='{{ hub_id }}'>
      Submit
    </button>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="{{ url_for('static', filename='js/passRights.js')}}"></script>

</body>

</html>