<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Samsung PRISM</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toggleButton.css')}}">
  <script src="{{ url_for('static', filename='js/register.js')}}"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>

<body onload="display()">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <h1 style="margin-top:10rem ;">Login</h1>
    <!-- The above form looks like this -->
    <br>
    <form method="POST">
      <div class="row">
        <div class="twelve columns">
          {{ form.csrf_token }}
          {{form.password.label}}
          {{form.password(class_='u-full-width', placeholder='password')}}

          {% if form.password.errors %}
            <ul class='errors'>
              {% for error in form.password.errors %}
                <li style="color: red; list-style-type: none;">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <!-- <input class="button-primary three columns" type="button" value="Login" onclick="checkVal()"> -->
        {{form.submit(class_='button-primary three columns')}}
      </div>
      <div class="row">

      </div>
    </form>

    <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

    <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->

  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>