<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Samsung PRISM</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS`
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toggleButton.css')}}">
  <!-- <script src="register.js"></script> -->
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>

<body onload="display()">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <br>
    <button class="button u-pull-right" onclick="window.location.href='/logout'">Log Out</button>
    <h1 style="margin-top:10rem ;">Actions</h1>
    <h6 style="margin-top:10rem ;"><bold>
      Encyption Password
    </bold> : {{ password }}</h6>
    <br>
    <!-- The above form looks like this -->
    <div class="row twelve columns">
      <h6 class="six columns">
        Change the account password
      </h6>
      <button class="button four columns" onclick="window.location.href='/registerPass'">Change Password</button>
    </div>

    <div class="row twelve columns">
      <h6 class="six columns">
        Modify Device Rights
      </h6>
      <button class="button four columns" onclick="window.location.href='/devicelist'">Change Rights</button>
    </div>

    <div class="row twelve columns">
      <h6 class="six columns">
        Modify Privileged Devices
      </h6>
      <button class="button four columns" onclick="window.location.href='/changeprivilege'">Change Privileged</button>
    </div>
  </div>

</body>

</html>