<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Samsung PRISM</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS`
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
  <script src="register.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>

<body onload="display()">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <br>
    <button class="button u-pull-right" onclick="window.location.href='/landing'">Back</button>

    <h1 style="margin-top:10rem ;">List of Devices</h1>
    <!-- The above form looks like this -->
    <table class="u-full-width">
      <thead>
        <th>Device Id</th>
        <th>Device Name</th>
        <th>Device Rights</th>
      </thead>
      <tbody>
        {% for id in devices %}
        <tr>
          <form action="/changeservices" method='GET'>
            <td><input type="text" name='device_id' value="{{id}}" readonly style='border:none;'></td>
            <td><input type="text" name='device_name' value="{{devices[id]}}"" readonly style='border:none;'></td>
            <td><input type='submit' class=" primary-button" value="Access Rights"></td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

    <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
    <!-- <button class="button" onclick="window.location.href='/landing'">Back</button> -->

  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>