<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Samsung PRISM</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toggleButton.css')}}">
    <style>

    </style>
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="container">
      <br>
      <button class="button u-pull-right" onclick="window.location.href='/landing'">Back</button>

        <h1 style="margin-top:10rem ;">Privileged Devices</h1>
        <table class="u-full-width">
            <thead>
                <th>Device Id</th>
                <th>Device Name</th>
                <th>Privileged</th>
            </thead>
            <tbody>
              {% for id in priv_devices %}
                <tr>
                    <td class='ids'>{{ id }}</td>
                    <td>{{ priv_devices[id]['name'] }}</td>
                    <td>
                      <label class="switch">
                            {% if priv_devices[id]['a'] %}
                              <input type="checkbox" checked class='checks'>
                            {% else %}
                              <input type="checkbox" class='checks'>
                            {% endif %}
                            <span class="slider round"></span>
                      </label>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        <button class="button-primary" id='submit_button' value='{{ hub_id }}'>Submit</button>
        <br>
        <br>
    </div>
    <script src="{{ url_for('static', filename='js/passPriv.js')}}"></script>

    <!-- End Document

      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>