<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Samsung PRISM</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/toggleButton.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

  <script src="{{ url_for('static', filename='js/register.js')}}"></script>
</head>

<body>
  <div class="container">
    <br>
    <button class="button u-pull-right" onclick="window.location.href='/landing'">Back</button>
    <h1 style="margin-top:10rem ;">Register</h1>
    <div id='root'>
      <form method='POST'>
        <div class="row">
          <div class="twelve columns">
            {{ form.csrf_token }}
            {{form.password.label}}
            {{form.password(class_='u-full-width', placeholder='Length between 8 and 16 chars')}}

            {% if form.password.errors %}
            <ul>
              {% for error in form.password.errors %}
                <li style="color: red; list-style-type: none;">{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            {{ form.csrf_token }}
            {{form.confirm.label}}
            {{form.confirm(class_='u-full-width', placeholder='Enter the password entered above')}}
          </div>
        </div>
        <br>
        <div class="row stage1">
          {{form.submit(class_='button-primary three columns')}}
        </div>
      </form>
    </div>


  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>